<div class="row userReview align-items-center" *ngIf="!isLoading && !error">
  <div class="col-12 col-sm-4 text-center" *ngIf="showGameInfo && game">
    <a href="">
      <img class="gameCover img-fluid" src="{{game.gameCover}}" alt="{{game.name}} cover">
    </a>
    <p class="gameName">{{game.name}}</p>
  </div>

  <div class="col-12 col-sm-3 text-center" *ngIf="showUserInfo && user">
    <img class="userAvatar img-fluid rounded-circle" src="{{user.avatar}}" alt="{{user.nickname}} avatar">
    <p class="userName">{{user.nickname}}</p>
  </div>

  <div class="col-12" [style.flex]="(showGameInfo ? 0.4 : 1) + (showUserInfo ? 0.3 : 1)">
    <p class="review">{{review.review}}</p>
  </div>
</div>

<div *ngIf="isLoading" class="text-center">
  <p>Cargando reseña...</p>
</div>

<div *ngIf="error" class="text-center text-danger">
  <p>{{error}}</p>
</div>
