
<div class="Top container-fluid justify-content-center m-0">
  <div class="Top__Logo">
    <img routerLink="" style="cursor: pointer" class="Top__Logo__LogoImg"
         src="/imgs/logo.png" alt="Logo">
  </div>
</div>

<div class="row container-fluid">
  <div class="ValidationDiv col-10 col-md-10 col-xl-6 mx-auto">
    <h1 style="text-align: center">El cambio se ha ejecutado correctamente</h1>

    <div class="ValidationDiv__ValidationBox">
      <a>El cambio de contraseña se ha realizado con éxito. Ahora puedes dirigirte al logotipo para acceder a la página principal del sitio web o hacer clic en el icono de entrar en perfil para iniciar sesión con tu nueva contraseña.</a>

      <div class="icons">
        <a class="IconContainer" style="cursor: pointer" routerLink="login">
          <img class="Icon" src="/imgs/profile_icon.webp" alt="Usuario">
        </a>
      </div>
    </div>
  </div>
</div>
