
h1{
  color: #FFFFFF;
}

label, a {
  color: #FFFFFF;
  font-size: 1.5rem;
}

input {
  width: 25%;
  margin: 0.625rem 0;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background: transparent;
  color: #FFFFFF;
  border: 0.0625rem solid white;
  font-size: 1rem;
}

.Top {
  padding: 2%;
  display: flex;
  flex-direction: row;
}

.Top__Logo__LogoImg {
  width: 12.5rem;
  background: #1E1EBF;
  border-radius: 2.8125rem;
  transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.Top__Logo__LogoImg:hover {
  background-color: #1E1EAD;
  transform: scale(1.05);
  border-radius: 3.125rem;
}

.ValidationDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PartDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.ValidationDiv__ValidationBox {
  position: relative;
  width: 100%;
  padding: 5rem 2.5rem;
  background: none;
  color: #FFFFFF;

}

.ValidationDiv__ValidationBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6119b4;
  filter: blur(0.625rem);
  z-index: -1;
  border-radius: inherit;
}

#ValidationText {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.25rem;
  color: #FFFFFF;
}

.Icons, .IconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Icon {
  width: 33%;
  margin: 1rem 0;
}
