
<div class="Top container-fluid justify-content-center m-0">
  <div class="Top__Logo">
    <img routerLink="" style="cursor: pointer" class="Top__Logo__LogoImg"
         src="/imgs/logo.png" alt="Logo">
  </div>
</div>

<div class="row container-fluid m-0">
<div class="forgotPasswordDiv mx-auto col-10 col-md-8 col-xl-6">
  <h1 >¿Olvidaste tu contraseña?</h1>

  <div class="forgotPassword__Box">
    <form>
      <div class="PartDiv">
        <label class="form-label" >Establece el correo electrónico del usuario al que se le va a cambiar la contraseña</label>
        <input class="form-control" type="email" placeholder="Email address" required>
      </div>

      <div class="forgotPassword__PartDiv">
        <label class="form-label">Nueva contraseña</label>
        <div class="passwordContainer">
          <input class="form-control" type="password" name="Password" placeholder="Password" required>
          <img src="/imgs/privacyEnabled.png" width="32" height="32" alt="">
        </div>

        <label class="form-label" >Repite la nueva contraseña</label>
        <div class="passwordContainer">
          <input class="form-control" type="password" id="PasswordRepeatField" placeholder="Password again" required>
          <img  src="/imgs/privacyEnabled.png" width="32" height="32" alt="">
        </div>
      </div>

      <div class="forgotPassword__submit">
        <button class="SubmitButton" type="submit" >Confirmar</button>
      </div>
    </form>
  </div>

  </div>
</div>
