<div class="row userReview align-items-center" *ngIf="!isLoading && !error">
  <div class="col-12 col-sm-4 text-center" *ngIf="game">
    <a href="">
      <img class="gameCover img-fluid" src="{{game.gameCover}}" alt="{{game.name}} cover">
    </a>
    <p class="gameName">{{game.name}}</p>
  </div>

  <div class="col-12">
    <p class="review">{{review.review}}</p>
  </div>
</div>

<div *ngIf="isLoading" class="text-center">
  <p>Loading reviews...</p>
</div>

<div *ngIf="error" class="text-center text-danger">
  <p>{{error}}</p>
</div>
