<div class="Top container-fluid justify-content-center m-0">
  <div class="Top__Logo">
    <img routerLink="" style="cursor: pointer" class="Top__Logo__LogoImg"
         src="/imgs/logo.png" alt="Logo">
  </div>
</div>
<main class="otp-container row ">
  <div class="col-10 col-md-10 col-xl-6 mx-auto">
    <h1 class="otp-container__title">Verificación del cambio de contraseña</h1>

    <section class="otp-container__box">
      <form id="OTPForm">
        <div class="otp-input-group">
          <label class="form-label" >Revisa tu correo electrónico para obtener el código de verificación que ha sido enviado.</label>
          <input class="form-control" type="text" placeholder="Introduce el código OTP" required>
        </div>

        <div class="otp-request">
          <button class="btn btn-primary" type="button">Solicitar OTP</button>
        </div>

        <div class="otp-submit">
          <button class="accept-button" type="submit">Aceptar</button>
        </div>
      </form>
    </section>
  </div>
</main>

