<nav class="navbar fixed-top bg-body-tertiary secondHeader">

  <select id="languageSelect" [(ngModel)]="selectedLanguage">
    <option value="none" disabled>-- Language --</option>
    <option value="en">English</option>
    <option value="es">Spanish</option>
  </select>
    <a class=" logo" routerLink=""><img  src="/imgs/logo.png"></a>
    <div class="nav-item icons">
      <a routerLink=""><img  src="/imgs/carrito.webp"></a>
      <a  routerLink=""><img  src="/imgs/log_in_icon.png"></a>
    </div>

</nav>
